.Card-details{
    position: fixed;
    z-index: 2;
    width: 600px;
    height: 400px;
    left: 25%;
    top: 20%;
    background-color: grey;
}

.Card-details-button{
    z-index: 2;
    position: fixed;
    left: 25%;
    top: 20%;
}